<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
        <script>
//            var braintree = Braintree.create('MIIBCgKCAQEA1mtXd8PEPFhWu1RGpWCE1u7RDDIjksBalt07YnFZiurxFQ1AnXlZ69weNIf+8gHjqvPEL/6p1tmI1hn82VOtyUKquF3r74o4jHOTgoWRZbasL8hVNa4ACq9KK/SWkNHpb1ld0wMNcYtrKT4sejjeipGR5n06TJZgENW29Un0E5A4LscIFFW9CcbP4JTKpofz1SKUqPubP5ENiryYzPPAAtHYXBwEzIUfbYcf8j4Ho5/PeokvtGPEfnwGjThe8xvrBhUGypeeuFaSboaM7d+aCU+uWCgX1gexZ1nrMxitZwmFJvc79bcoZXdaI93oXO8TDlLEBDkRmonUHh+6slw02QIDAQAB');
        </script>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                <div class="form-group">
                    <label>Current Password</label>

                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                           mongoose-error/>

                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </div>

                <div class="form-group">
                    <label>New Password</label>

                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                           ng-minlength="3"
                           required/>

                    <p class="help-block"
                       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>

                <p class="help-block"> {{ message }} </p>

                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>